<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Sleep Guardian</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">

    <!-- Custom Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css" type="text/css">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="css/animate.min.css" type="text/css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/creative.css" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top">

    <header>
        <div class="col-md-8 col-md-offset-2">
            <h1>Sleep Guardian</h1>
            <div style="height:1em"></div>
            <p>Intelligent software to track your sleep</p>
            <hr>

            <h2>Your recent sleep history</h2>
            <div id='chart1' width=640 height=480></div>

            <div style="height:1em"></div>
            <hr>
            <div style="height:1em"></div>

            <h2> You sleep on average <span id="field1">7.84</span> hours a day </h2>

            <div style="height:1em"></div>
            <hr>
            <div style="height:1em"></div>

            <h2> In 2013, a survey found that average adults sleep 6.80 hours a day. Doctors recommend 7-8 hours a day for a healthy lifestyle. </h2>

            <div style="height:1em"></div>
            <hr>
            <div style="height:1em"></div>

            <h2>You are getting more sleep than <span id="field2">89</span>% of adults.</h2>

            <!-- end -->
            <div style="height:8em"></div>
        </div>
    </header>


    <!-- jQuery -->
    <script src="js/jquery.js"></script>
    <script src="js/highcharts.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="js/jquery.easing.min.js"></script>
    <script src="js/jquery.fittext.js"></script>
    <script src="js/wow.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/creative.js"></script>


<script>

sleep_time = [];
avg = 0;

function generate_fake_data(){
    for(var i=0; i<100; i++){
        var t = 4 + Math.random() * 8;
        sleep_time.push([Date.UTC(2015,1,i), t]);
        avg += t
    }
    avg /= 100;
}

function compute_sleep_percentile(x){
    var p = 18.5*x - 70;
    if(p < 0) return 0;
    if(p > 100) return 100;
    return p;
}

$(document).ready(function(){
    generate_fake_data();
    var percentile = Math.round(compute_sleep_percentile(avg));
    $('#field1').text(Math.round(avg*100)/100);
    $('#field2').text(percentile);

    $('#chart1').highcharts({
        chart: {
            type: 'line',
            backgroundColor: 'rgba(44,51,56,0.1)',
        },
        title: {
            text: ''
        },
        xAxis: {
            title:{
                text: 'Date',
                style:{
                    color: 'white'
                }
            },
            labels:{
                style:{
                    color: 'white'
                }
            },
            type:'datetime'
        },
        yAxis: {
            title: {
                text: 'Hours slept',
                style:{
                    color: 'white'
                }
            },
            labels:{
                style:{
                    color: 'white'
                }
            },
            min:0
        },
        series: [{
            name: 'Hours slept',
            data: sleep_time,
            showInLegend: false,
        }]
    });
    
    $.ajax({
        url: "/user/" + localStorage.getItem("username") + "/sleep",
        done: function(data){
            console.log(data);
        }
    });
});
</script>

</body>

</html>
